/**View Product**/

.modal-container {
  margin: 40;
  padding-bottom: 50;
}

.modal-dialog {
  margin: 25;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  padding: 1rem 1.6rem;
}

.modal-body {
  display: flex;
  align-items: center;
  padding: 5px;
  margin-left: 80;
}

.modal-content h3 {
  padding-right: 50;
  padding-top: 10;
  font-size: 30;
  font-weight: 600;
  margin-bottom: 1rem;
}

.close_modal i {
  color: rgba(0, 0, 0, 0.8);
  font-size: 50px;

  cursor: pointer;
}

.pic-part {
  padding: 20px 45px;
}

.pic-part img {
  border-radius: 2rem;
  width: 450;
  height: 550;
  object-fit: cover;
}

.right-part {
  padding-top: 20;
  padding-bottom: 20;
  width: 500;
  height: 550;
}

.detail-part .title-book {
  font-size: 40;
}

.detail-part {
  height: auto;
}

.book-detail {
  text-align: justify;
}

.btn-part i {
  background-color: rgb(53, 53, 53, 0.2);
  border: 0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 20px;
  padding: 10px 10px;
  color: grey;
}

.btn-part input {
  height: 45px;
  width: 140px;
  margin-left: 10;
  margin-right: 10;
  text-align: center;
  font-size: 15px;
}

.btn-part {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.btn-add {
  margin-top: 20;
}

.btn-add .btn-cart {
  border: none;
  color: #fff;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  width: 245px;
  height: 40px;
  padding: 1.2rem rem;
  cursor: pointer;
  border-radius: 10em;
  background-color: #1cf490;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
