*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #fff;
  color: #243a6f;
  position: relative;
  z-index: 1;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.container-md {
  max-width: 100rem;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
  .container-md {
    padding: 0 3rem;
  }
}

.header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #d1e2e9;
  overflow: hidden;
}

.nav {
  background-color: #d1e2e9;
  padding: 1.6rem 0;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h1 {
  font-size: 2.5rem;
}

.top-nav {
  display: none;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item:not(:list-child) {
  margin-right: 0.5rem;
}

.nav-link:link,
.nav-link:visited {
  padding: 2rem 1.5rem;
  transition: all 300ms ease-in-out;
}

.nav-link.icon {
  font-size: 3rem;
}

.hamburger {
  display: none;
}

.cart-icon {
  display: none;
}

@media only screen and (max-width: 768px) {
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    max-width: 40rem;
    height: 100%;
    background-color: #fff;
    transition: all 500ms ease-in-out;
    z-index: 100;
  }

  .menu.show {
    left: 0;
  }

  .top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #243a6f;
    padding: 1rem 1.6rem;
  }

  .top-nav .logo {
    color: #fff;
  }

  .top-nav .close {
    color: #fff;
    font-size: 3rem;
    padding: 1rem;
    cursor: pointer;
  }

  .cart-icon {
    display: block;
    font-size: 3rem;
  }

  .hamburger {
    display: block;
    font-size: 3rem;
    padding: 0.5rem;
    cursor: pointer;
  }

  .nav-list {
    flex-direction: column;
    align-items: start;
    padding: 1rem 1.6rem;
  }
  .nav-link:link,
  .nav-link:visited {
    display: block;
    font-size: 1, 7rem;
    padding: 1rem 0;
  }

  .nav.fix-nav .nav-link {
    color: #243a6f;
  }

  .nav-link.icon {
    display: none;
  }

  body.show::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 4;
  }

  .nav.show {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.header .hero-img {
  position: absolute;
  bottom: -10%;
  right: -35%;
  top: 10%;
  height: 70rem;
  object-fit: contain;
}

.hero-content {
  position: absolute;
  top: 50%;
  transform: translate(25%, -20%);
}

.hero-content h1 {
  color: #b888ff;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero-content .discount {
  color: #fbb419;
  margin-bottom: 1rem;
}

.hero-content h1 span {
  color: #253b70;
  font-size: 6rem;
  font-weight: 700;
  display: block;
  line-height: 1;
  text-shadow: 3px 3px 0 #f1f1f1, 4px 4px #f1f1f1;
}

.btn {
  display: inline-block;
  background-color: #fc7c7c;
  padding: 1.2rem 4rem;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 1200px) {
  .header .hero-img {
    right: -40%;
    top: 2%;
  }

  .hero-content {
    transform: translate(20%, -50%);
  }

  .hero-content h2 {
    font-size: 2rem;
  }

  .hero-content h1 span {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 996px) {
  .header {
    min-height: 70vh;
  }

  .header .hero-img {
    height: 40rem;
    right: -35%;
    top: 15%;
  }
}

@media only screen and (max-width: 567px) {
  .header {
    min-height: 100vh;
  }

  .header .hero-img {
    right: -40%;
    top: 15%;
  }

  .hero-content {
    transform: translate(15%, -50%);
  }

  .hero-content h2 {
    font-size: 1.8rem;
  }

  .hero-content h1 span {
    font-size: 4rem;
  }

  .hero-content a {
    padding: 1rem 3rem;
  }
}

/*Advert*/
.section {
  padding: 10rem 0 5rem 0;
}

/* Featured*/
.title {
  margin: 4rem 0 7rem 0;
  text-align: center;
}

.title h1 {
  font-size: 3rem;
  display: inline-block;
  position: relative;
  z-index: 0;
}

.title h1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20%;
  transform: translate(-50%, -50%);
  background-color: #f60091;
  width: 50%;
  height: 0.4rem;
  z-index: 1;
}

.greeting {
  text-align: center;
  margin-top: 35;
  font-size: 25;
  font-weight: 600;
}

/*fliter*/
.list-group {
  margin-bottom: 40;
}

.form-inline label {
  font-size: 25;
  padding-right: 20;
}

select.form-control {
  width: 200;
  height: 35;
  margin-right: 10;
  border-radius: 70px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding-left: 10;
}

.form-inline .btn-primary {
  border: 0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 21px;
  padding: 13px 13px;
  color: #888;
}
/**Product**/
.product-row {
  margin-bottom: 3rem;
}
.product-column {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 7rem 3rem;
}

.product {
  height: 600px;

  background-color: #fff;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
  border-radius: 2rem;
  text-align: center;
}

.product-header img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.product-header {
  position: relative;
  background-color: #d3d3d3;
  height: auto;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.product-footer {
  height: auto;
  padding: 2rem 1.6rem 1.6rem 1.6rem;
}
.footer-container {
  position: static;
  height: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.product-footer h3 {
  font-size: 1.8rem;
  text-align: center;
  object-fit: cover;
}

.btn-product {
  border: none;
  color: #fff;
  font-weight: 600;
  color: white;
  overflow: hidden;
  margin: -3rem;
  text-transform: uppercase;
  width: 150px;
  height: 40px;
  background-color: #fc7c7c;
  padding: 1.2rem 4rem;
  cursor: pointer;
  border-radius: 10rem;
}

/*scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
