/**login form**/
.container-login {
  width: 450px;
  overflow: hidden;
  margin: auto;
  margin-top: 130px;
  padding: 20px;
  background: #fff;
  border: 1px solid silver;
  border-radius: 10px;
}

.login-title h1 {
  font-weight: 700;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.form-group input {
  width: 405px;
  height: 35px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid silver;
  padding: 5px;
}
.btn-container p {
  color: grey;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  padding-top: 5px;
}
.btn-container {
  padding-top: 5px;
}

.btn-login {
  padding: 5px;
  width: 405px;
  height: 35px;
  color: rgb(255, 255, 255);
  background-color: #fc7c7c;
  border-radius: 5px;
  border: 0;
  font-size: 17px;
  cursor: pointer;
}

/**singup**/

.modal-acc {
  width: 600px;
  overflow: hidden;
  margin: auto;
  margin-top: 90px;
  padding: 20px;
  background: #fff;
  border: 1px solid silver;
  border-radius: 10px;
  margin-bottom: 70px;
}

.acc-form .form-group {
  display: grid;
  margin-left: 50;
}

.modal-title h1 {
  margin-bottom: 20;
  text-align: center;
  font-weight: 800;
}

.acc-form .form-group label {
  text-align: left;
}
.acc-form .form-group input {
  width: 470px;
  font-family: "Poppins", sans-serif;
}

.form-group textarea {
  width: 470px;
  height: 80px;
  border-radius: 10px;
  border: 1px solid silver;
  font-family: "Poppins", sans-serif;
  padding: 5;
}

.btn-acc-container {
  padding-top: 10px;
  padding-left: 79;
  display: flex;
}

.btn-acc-container button {
  padding: 5px;
  width: 200px;
  height: 45px;
  color: rgb(255, 255, 255);
  background-color: #fc7c7c;
  border-radius: 5px;
  border: 0;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  margin-right: 10;
}

.btn-acc-container .btn-cancle {
  background-color: grey;
  padding-top: 7px;
  width: 200px;
  height: 45px;
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 5px;
  border: 0;
  font-size: 18px;
  cursor: pointer;
}

/**order*/

.container-order {
  width: 700px;
  overflow: hidden;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 20px;
  background: #fff;
  border: 1px solid silver;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
}
.container-title1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20;
  padding-bottom: 20;
}

.container-title1 h1 {
  font-size: 40;
  font-weight: 1000;
}

.book-detail1 {
  border-top: 2px solid #888;
  border-bottom: 2px solid #888;
  padding: 30;
  display: flex;
}

.book-pic {
  padding-right: 30;
}
.book-pic img {
  width: 150;
  border-radius: 1.5rem;
  object-fit: cover;
}

.book-info .detail {
  font-size: 18;
  padding: 10;
  border-bottom: 2px solid #888;
  height: 115;
}

.book-info .detail p {
  padding-bottom: 5;
}

.book-info .subtotal {
  font-size: 18;
  padding: 10;
  height: 115;
}

.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10;
  padding-left: 20;
  padding-right: 20;
}

.total p {
  font-size: 20;
}

.total p b {
  font-size: 25;
}
.btn-add-order a {
  padding-right: 10;
  float: right;
  padding-top: 10;
}
.btn-add-order .btn-checkout {
  border: none;
  color: #fff;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  width: 170px;
  height: 40px;
  cursor: pointer;
  border-radius: 10em;
  background-color: #1cf490;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.delivery-address {
  padding-bottom: 10;
  color: #555;
}

.delivery-title {
  display: flex;
  padding-bottom: 2;
}
.delivery-title h2 {
  padding-top: 3;
}

.delivery-title h3 {
  padding-left: 6;
}

.cust-address {
  padding-left: 26;
  width: 250;
  text-transform: capitalize;
}

/**payment*/
.payment-container {
  width: 600px;
  overflow: hidden;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 20px;
  background: #fff;
  border: 1px solid silver;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
}

.payment-title {
  text-align: center;
  padding-top: 20;
  padding-bottom: 20;
  font-size: 40;
  font-weight: 1000;
}

.payment-title h1 {
  font-size: 40;
  font-weight: 1000;
}

.payment-form .form-group {
  display: flex;
  justify-content: space-between;
}

.payment-form .form-group label {
  padding-top: 5;
}

.payment-pay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-payment {
  border: none;
  color: #fff;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  width: 170px;
  height: 40px;
  cursor: pointer;
  border-radius: 10em;
  background-color: #1cf490;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.container-success {
  width: 600px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 80px;
  padding: 20px;
  background: #4bb543;

  border: 1px solid #1ebd0b7a;
  border-radius: 10px;
  color: white;
}

.success-payment {
  text-align: center;
  font-size: 15;
  padding-bottom: 20;
}

.order-place {
  text-align: center;
  font-size: 35;
  padding-top: 20;
}

.thank {
  margin-top: 150px;
  text-align: center;
  padding-bottom: 13;
  color: #383636;
  font-size: 25;
  font-weight: 510;
}

.order-place i {
  font-size: 60;
}
.alert-danger {
  width: 90%;
  margin: 20px auto;
  padding: 30px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 15px 5px #ccc;
  background-color: #ff878787;
  color: #383636;
  text-align: center;
}

.alert-success {
  width: 90%;
  margin: 20px auto;
  padding: 30px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 15px 5px #ccc;
  background-color: #5cb85c;
  color: white;
  text-align: center;
}
