* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 120%;
  background: #85c1e9;
}

.login {
  padding-top: 20;
}

.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: #17a2b8;
  text-align: center;
  border: 1px solid #b0c4de;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
form,
.content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #b0c4de;
  background: #343a40;
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
  color: white;
}
form p {
  color: white;
}

form a {
  color: #d4e6f1;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5f9ea0;
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%;
  margin: 0px auto;
  padding: 10px;
  border: 1px solid #a94442;

  background: #a94442;
  border-radius: 5px;
  text-align: left;
}
.success {
  background: #3c763d;
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}
